@font-face {
  font-family: "Roboto";
  src: url("../fonts//Roboto-Black.ttf");
}

@font-face {
  font-family: "Segoe";
  src: url("../fonts/Segoe.ttf");
}

* {
  margin: 0px;
  padding: 0px;
}

.header {
  /* flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex */

  padding: 20px;
  border-bottom: 1px solid #ccc;
  background-color: #142850;
}



.header__logo h2 {
  color: #fff;
  font-family: "Segoe", "Roboto";
}

.header__navbar {
  flex-basis: 40%;
}

.header__navigation {
  display: flex;
  justify-content: space-around;
}

.header__navigation-item {
  font-family: "Segoe", "Roboto";
  list-style: none;
}

.header__navigation-item a {
  color: #fff;
  text-decoration: none;
  transition: 300ms all ease;
}

.header__navigation-item a:hover {
  color: #dae1e7;
}

.container {
  display: flex;
}



.container__main__both {
  display: flex;
  flex-direction: row;


  min-height: 800px;
  width: 75%;
  background-color: #142850;
  border-right: 2px solid #ccc;
}

.container__main__both-1{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;

  
  width: 50%;
  min-height: 400px;
  
}

.container__main__both-1-cWatching-c{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  background-color: #dae1e7;
  padding: 30px;
  border-radius: 36px;
  height:60%;
}

.container__main__both-1-cWatching h3,p{
  color: #000;
  font-family: 'Roboto';
  padding: 6px;
}

.container__main__both-1-cWatching > a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border-radius: 36px;
  background-color: #142850;
  border: 1px solid #dae1e7;
}
.container__main__both-1-title{
  display: flex;
  justify-content: center;
  height: 30%;
}

.container__main__both-1-title div h2{
  font-size: 36px;
  color: #fff;
  font-family: 'Segoe', 'Roboto';
}

.container__main__both-2-title{
  display: flex;
  justify-content: center;
  height: 30%;
  
}

.container__main__both-2-title div h2{
  font-size: 36px;
  color: #fff;
  font-family: 'Segoe', 'Roboto';
}

.container__main__both-2{

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  min-height: 400px;

}

.container__main__both-2-recomend{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.container__main__both-2-recomend-item{
  background-color: red;
  width: 45%;
  min-height: 250px;
  margin: 10px;
  border-radius: 36px;
}



.container__sidebar {
  
  min-height: 800px;
  width: 25%;
  background-color: #142850;
}

.container__sidebar-profilePic{
  margin-top: 50px;
  text-align: center;
 margin-bottom: 500px;
}

.container__sidebar-profilePic img{
  
  border-radius: 999px;
  width: 150px;
  height: 150px;
}



.container__sidebar-list ul{
  list-style: none;
  padding-left: 20px;
  
}

.container__sidebar-list ul li{
  font-size: 24px;
}

.container__sidebar-list ul li a{
  text-decoration: none;
  color: #fff;
  transition: 300ms all ease;
  
}

.container__sidebar-list ul li a:hover{
  color: #dae1e7;

  
}


.footer{
  display: flex;
  padding: 14px;
  border-top: 2px solid #ccc;
  background-color: #142850;
}

.footer__list{
display: flex;
flex-basis: 40%;
justify-content: space-evenly;
}

.footer__list a{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  transition: 300ms all ease;
}


.footer__list a:hover{
color: #dae1e7;
}

.F{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  text-align: center;
  color: white;
  text-decoration: none;
}